.detail-title {
    color: #FF6060;
}

.container-detail {
    margin-bottom: 5%;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-profil img {
    display: flex;
    justify-content: flex-end;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: gray;
}

.img-profil {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-star {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box-profil {
    display: flex;
    align-items: center;
}

.img-profil p {
    width: 68px;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
}

.detail-title h2 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    margin: 30px 0px 0px 0px;
}

.detail-title p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

.detail-tag {
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.detail-tag span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: auto;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    margin: 20px 13px 0px 0px;
    padding: 5px;
}

.content-head {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.content-profil {
    display: flex;
}

@media (max-width: 800px) {
    .container-description {
        grid-template-columns:1fr
    }

    .collapse {
        margin-right: 0;
    }

    .detail-tag {
        width: auto;
        white-space: nowrap;
    }

    .img-profil {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }

    .content-profil {
        width: 100%;
    }
}